

<div class = 'row'>
  <div class = 'col-3 text-white bg-dark'>
    <h1> Search Companies </h1>
  </div>

  <div class = 'col-9'>
    <p style="color: green"><%= notice %></p>
    <h1>Companies</h1>

    <table class = "table" id="companies_table">
      <thead>
        <tr>
          <th>Company Name</th>
          <th>Ticker Symbol</th>
          <th>Animal Testing</th>
          <th>Nuclear Weapons</th>
          <th>Coal Power</th>
          <th>Rainforest Destruction</th>
          <th>Total Problem Areas</th>
        </tr>
      </thead>
      <% @companies.each do |company| %>
        <%= render company %>
      <% end %>
    </table>

    <%= link_to "New company", new_company_path %>
  </div>
</div>
